#ourmanna-verse {
    padding: 10px;
    margin:10px;
    background: rgba(0, 0, 0, 0.3);
    border-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#mannaverse {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
#mannaverse-reference:before {
    content: "- ";
}
#mannaverse-reference {
    text-align: right;
    font-size: 12px;
}
#mannaverse-version {
    color: #ddd;
}

#bibleverse, #reference{
    font-family: 'Oswald', sans-serif;
}

#bibleverse span{
    border: 2px solid black;
    padding: 4px;
}